<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: head"></div>
</head>
<body style="background-image: url('/img/core-img/background.jpeg');">
<!--header-->
<div th:replace="common/common :: header"></div>

<div th:replace="common/common :: aside_nav"></div>

<section style="margin-left: 225px;margin-top: 10px;margin-bottom: 20px">
    <h2><strong class="fl">添加轮播图信息</strong></h2>
    <form th:action="@{/bysj/admin/banner/doInsert}" enctype="multipart/form-data" method="post" style="margin-top: 20px;margin-bottom: 20px ">
        <ul class="ulColumn2">
            <li>
                <span class="item_name" style="width:120px;">轮播图标题：</span>
                <input type="text" class="textbox textbox_295" name="name" placeholder="请输入轮播图标题..."/>
            </li>
            <li>
                <span class="item_name" style="width:120px;">轮播图描述：</span>
                <input type="text" class="textbox textbox_295" name="describe" placeholder="请输入描述..."/>
            </li>
            <li>
                <span class="item_name" style="width:120px;">轮播图：</span>
                <input type="file" class="textbox textbox_295" name="file" placeholder="请选择图片"/>
            </li>
            <li>
                <span class="item_name" style="width:120px;">对应的文章编号：</span>
                <input type="number" class="textbox textbox_295" name="articleId" placeholder="文章编号"/>
            </li>
            <li>
                <input type="submit" class="button_head" value="确认添加" style="margin-left: 124px"/>
                <input type="reset" class="button_head" value="重置">
            </li>
        </ul>
    </form>
</section>


</body>
</html>