<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>飞跃·后台登录</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.png">

    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script src="js/jquery.js"></script>
    <script src="js/verificationNumbers.js"></script>
    <script src="js/Particleground.js"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //验证码
            createCode();

        });
        function jump(){
            window.location.href="TeacherResigne.html";
        }
        function jump2(){
            window.location.href="StuResigne.html";
        }
    </script>
</head>
<body>
<dl class="admin_login">
    <dt>
        <strong>飞跃·后台管理系统</strong>
        <em>Management System</em>
    </dt>
    <form action="/resignTeacher" method="post" onSubmit="return beforeSubmit(this);" name="form">
    <dd>
            <input  type="button" value="教师"  class="submit_btn" style="width: 50px;font-size: 15px"  onclick='jump()' />
            <input  type="button" value="学生" class="submit_btn" onclick='jump2()' style="width: 50px;font-size: 15px" />
    </dd>
    <dd class="user_icon">
        <input type="text" placeholder="您的姓名" class="login_txtbx" name="teacher_name"/>
    </dd>
    <dd class="user_icon">
        <input type="text" placeholder="手机号码" class="login_txtbx" name="teacher_phone"/>
    </dd>
    <dd class="pwd_icon">
        <input type="password" placeholder="密码" class="login_txtbx" name="teacher_psw"/>
    </dd>
    <dd class="user_icon">
        <input type="text" placeholder="性别" class="login_txtbx" name="teacher_sex"/>
    </dd>
    <dd class="user_icon">
        <input type="text" placeholder="就读院校" class="login_txtbx" name="teacher_school"/>
    </dd>
    <dd class="user_icon">
        <input type="text" placeholder="专业" class="login_txtbx" name="teacher_major"/>
    </dd>
    <dd class="user_icon">
        <input type="text" placeholder="所在区域" class="login_txtbx" name="teacher_add"/>
    </dd>
    <dd class="val_icon">
        <div class="checkcode">
            <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">
            <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
        </div>
        <input type="button" value="验证码核验" class="ver_btn" onClick="validate();">
    </dd>
    <dd>
        <input type="submit" value="立即注册" class="submit_btn"/>
        <input type="reset" value="重置" class="submit_btn"/>
    </dd>
    <dd>
        <p>© 2019 PLUM 版权所有</p>
        <p>-2015105040230-</p>
    </dd>
    </form>
</dl>
<script>
    function beforeSubmit(form){
        if(form.teacher_name.value==''){
            alert('名字不能为空！');
            form.teacher_name.focus();
            return false;
        }
        if(form.teacher_phone.value==''){
            alert('手机不能为空！');
            form.teacher_phone.focus();
            return false;
        }
        if(form.teacher_psw.value==''){
            alert('密码不能为空！');
            form.teacher_psw.focus();
            return false;
        }
        if(form.teacher_sex.value==''){
            alert('性别不能为空！');
            form.teacher_sex.focus();
            return false;
        }
        if(form.teacher_school.value==''){
            alert('院校不能为空！');
            form.teacher_school.focus();
            return false;
        }
        if(form.teacher_major.value==''){
            alert('专业不能为空！');
            form.teacher_major.focus();
            return false;
        }
        if(form.teacher_add.value==''){
            alert('所在区域不能为空！');
            form.teacher_add.focus();
            return false;
        }
        // if(form.password.value!=form.password2.value) {
        //     alert('你两次输入的密码不一致，请重新输入！');
        //     form.password2.focus();
        //     return false;
        // }
        return true;
    }

</script>
</body>
</html>
