<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>环保公益·后台登录</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/core-img/favicon.png}">

    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/verificationNumbers.js}"></script>
    <script th:src="@{/js/Particleground.js}"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //验证码
            createCode();

        });
        function beforeSubmit(form){
            if(form.email.value===''){
                alert('账号不可为空！');
                form.email.focus();
                return false;
            }
            if(form.password.value===''){
                alert('密码不能为空！');
                form.password.focus();
                return false;
            }
            return validate();
        }

    </script>
</head>
<body>
<dl class="admin_login">
    <dt>
        <strong>环保公益·后台管理系统</strong>
        <em>Management System</em>
    </dt>
    <form style="margin-left: 50px;padding: 10px" th:action="@{/bysj/admin/doLogin}" method="get" onSubmit="return beforeSubmit(this);" name="form">
        <div th:if="${loginMSG}!=''">
            <h3 style="color: #b21f2d" th:text="${loginMSG}"></h3>
        </div>
    <dd class="user_icon">
        <input type="text" placeholder="账号" class="login_txtbx" name="username"/>
    </dd>

    <dd class="pwd_icon">
        <input type="password" placeholder="密码" class="login_txtbx" name="password"/>
    </dd>

    <dd class="val_icon">
        <div class="checkcode">
            <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx" name="code">
            <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
        </div>
    </dd>

    <dd>
        <input type="submit" value="立即登陆" class="submit_btn" onClick=""/>
    </dd>

    </form>
    <dd>
        <p>© 2020 Liang 版权所有</p>
        <p>-2016105040604-</p>
    </dd>
</dl>
</body>
</html>
